<div class="align mt-4">
  <div class="grid">

    <div id="login">

      <h4><span class="fas fa-user-plus"></span>新規登録</h4>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <fieldset>

          <p><%= f.label :username, "ユーザーネーム" %></p>
          <p><%= f.text_field :username, autofocus: true, placeholder: "太郎" %></p>

          <hr>

          <p class="text-info">氏名は公開されません。</p>

          <div class="row mb-3">
            <div class="col-6">
              <p><%= f.label :lastname, "姓" %></p>
              <p><%= f.text_field :lastname, autofocus: true, placeholder: "五味" %></p>
            </div>
            <div class="col-6">
              <p><%= f.label :firstname, "名" %></p>
              <p><%= f.text_field :firstname, autofocus: true, placeholder: "浩夫" %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <p><%= f.label :kana_lastname, "姓(カナ)" %></p>
              <p><%= f.text_field :kana_lastname, autofocus: true, placeholder: "ゴミ" %></p>
            </div>
            <div class="col-6">
              <p><%= f.label :kana_firstname, "名(カナ)" %></p>
              <p><%= f.text_field :kana_firstname, autofocus: true, placeholder: "ヒロオ" %></p>
            </div>
          </div>

          <hr>

          <p><%= f.label :email, "メールアドレス" %></p>
          <p><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "mail@address.com" %></p>

          <p><%= f.label :password %>(<%= @minimum_password_length %>文字以上)</p>
          <p><%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %></p>

          <p><%= f.label :password_confirmation %></p>
          <p><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password" %></p>

          <%= render "devise/shared/error_messages", resource: resource %>

          <p><%= f.submit "登録" %></p>

          <div class="text-right">
            <%= render "devise/shared/links" %>
          </div>
        </fieldset>

      <% end %>

    </div> <!-- end login -->

  </div>
</div>
