<h2><%= @user.lastname %> 様</h2>
<p>この度は、新規登録ありがとうございました。<br>


<h3>登録情報</h3>
<p>ユーザー名：<%= @user.username %></p>
<p>お名前：<%= @user.lastname %><%= @user.firstname %>様</p>
<p>メールアドレス：<%= @user.email %></p>