<p><%= comments.count %>件のコメント</p>
	<% comments.each do |comment| %>
		<div class="row">
    		<div class="col-3">
    			<a href="/users/<%= @event.user.id %>"><%= comment.user.username %></a>
    		</div>
    		<div class="col-4">
    			<%= comment.content %>
    		</div>
    		<div class="col-3">
    			<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
    		</div>

	    	<% if comment.user == current_user %>
	    		<div class="col-1">
	    			<%=link_to "削除", event_comments_path(comment.id), method: :delete, remote: true, class: "btn-sm btn-danger" %>
	    		</div>
	    	<% else %>
	    		<div class="col-1"></div>
	    	<% end %>
		</div>
		<hr>
	<% end %>