<div class="align mt-4">
	<div class="grid">

		<div id="login">

			<h4><span class="fas fa-user-edit"></span>編集する</h4>

			<%= form_for(@user) do |f| %>

			<fieldset>


				<p><%= f.label :username, "ユーザーネーム" %></p>
				<p><%= f.text_field :username %></p><hr>

				<div class="row mb-3">
					<div class="col-6">
						<p><%= f.label :lastname, "姓" %></p>
						<p><%= f.text_field :lastname %></p>
					</div>
					<div class="col-6">
						<p><%= f.label :firstname, "名" %></p>
						<p><%= f.text_field :firstname %></p>
					</div>
				</div>

				<hr>

				<div class="row mb-3">
					<div class="col-6">
						<p><%= f.label :kana_lastname, "カナ姓" %></p>
						<p><%= f.text_field :kana_lastname %></p>
					</div>

					<div class="col-6">
						<p><%= f.label :kana_firstname, "カナ名" %></p>
						<p><%= f.text_field :kana_firstname %></p>
					</div>
				</div>

				<hr>

				<p><%= f.label :image, "画像" %></p>
				<p><%= f.file_field :image, id: :user_image %></p>
				<!-- 画像プレビューを表示 -->
				<%= image_tag @user.image.url, width: 100, id: :image_prev, class: "rounded-circle mt-2" %>
				　<p><%= f.check_box :remove_image %>画像を削除する</p><hr>


				<p><%= f.submit "更新" %></p>

			</fieldset>

			<% end %>

		</div> <!-- end login -->

	</div>
</div>





<!-- 画像のプレビュー機能 -->
<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#image_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#user_image").change(function(){
   readURL(this);
 });
});
</script>