<h3>My Page</h3>

<p>ユーザー名: <%= @user.username %></p>

<%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %><br>

<%= link_to "ユーザー情報編集", edit_user_path(current_user.id) %><br>

<%= link_to "ボランティアを主催する", new_event_path %>

<section class="stats">
	<%= render 'shared/stats' %>
</section>

<%= render 'follow_form' if user_signed_in? %>

<h5><%= @user.username %>さんがこれまで参加したボランティア活動</h5>
	<% @user.joined_events.each do |event| %>
	  <p>主催者：<%= event.user.username %> タイトル：<%= event.title %></p>
	<% end %>
<hr>

<h5><%= @user.username %>さんがこれまで主催したボランティア活動</h5>
	<% @user.events.each do |event| %>
		<%= event.title %>
	<% end %>
<hr>

<h5><%= @user.username %>さんがいいねしている投稿</h5>
	<% @user.liked_events.each do |event| %>
	  <%= event.title %>
	<% end %>