<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h4><%= @user.username %></h4>
      <span><%= link_to "マイページに戻る", @user %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
              <%= user.username %>
          <% end %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>

<!-- will_paginateを使ったがkaminariだけで出来ないのか -->