<div class="japan_map">
    <%= image_tag 'japan.png', class: "img", alt: "日本地図" %>
    <span class="area_btn area1" data-area="1">北海道・東北</span>
    <span class="area_btn area2" data-area="2">関東</span>
    <span class="area_btn area3" data-area="3">中部</span>
    <span class="area_btn area4" data-area="4">近畿</span>
    <span class="area_btn area5" data-area="5">中国・四国</span>
    <span class="area_btn area6" data-area="6">九州・沖縄</span>

    <div class="area_overlay"></div>
    <div class="pref_area">
        <div class="pref_list" data-list="1">
            <div data-id="1"><%= link_to "北海道", events_search_path(prefecture: 1) %></div>
            <div data-id="2"><%= link_to "青森県", events_search_path(prefecture: 2) %></div>
            <div data-id="3"><%= link_to "岩手県", events_search_path(prefecture: 3) %></div>
            <div data-id="4"><%= link_to "宮城県", events_search_path(prefecture: 4) %></div>
            <div data-id="5"><%= link_to "秋田県", events_search_path(prefecture: 5) %></div>
            <div data-id="6"><%= link_to "山形県", events_search_path(prefecture: 6) %></div>
            <div data-id="7"><%= link_to "福島県", events_search_path(prefecture: 7) %></div>
            <div></div>
        </div>

        <div class="pref_list" data-list="2">
            <div data-id="8"><%= link_to "茨城県", events_search_path(prefecture: 8) %></div>
            <div data-id="9"><%= link_to "栃木県", events_search_path(prefecture: 9) %></div>
            <div data-id="10"><%= link_to "群馬県", events_search_path(prefecture: 10) %></div>
            <div data-id="11"><%= link_to "埼玉県", events_search_path(prefecture: 11) %></div>
            <div data-id="12"><%= link_to "千葉県", events_search_path(prefecture: 12) %></div>
            <div data-id="13"><%= link_to "東京都", events_search_path(prefecture: 13) %></div>
            <div data-id="14"><%= link_to "神奈川県", events_search_path(prefecture: 14) %></div>
            <div></div>
        </div>

        <div class="pref_list" data-list="3">
            <div data-id="15"><%= link_to "新潟県", events_search_path(prefecture: 15) %></div>
            <div data-id="16"><%= link_to "富山県", events_search_path(prefecture: 16) %></div>
            <div data-id="17"><%= link_to "石川県", events_search_path(prefecture: 17) %></div>
            <div data-id="18"><%= link_to "福井県", events_search_path(prefecture: 18) %></div>
            <div data-id="19"><%= link_to "山梨県", events_search_path(prefecture: 19) %></div>
            <div data-id="20"><%= link_to "長野県", events_search_path(prefecture: 20) %></div>
            <div data-id="21"><%= link_to "岐阜県", events_search_path(prefecture: 21) %></div>
            <div data-id="22"><%= link_to "静岡県", events_search_path(prefecture: 22) %></div>
            <div data-id="23"><%= link_to "愛知県", events_search_path(prefecture: 23) %></div>
            <div></div>
        </div>

        <div class="pref_list" data-list="4">
            <div data-id="24"><%= link_to "三重県", events_search_path(prefecture: 24) %></div>
            <div data-id="25"><%= link_to "滋賀県", events_search_path(prefecture: 25) %></div>
            <div data-id="26"><%= link_to "京都府", events_search_path(prefecture: 26) %></div>
            <div data-id="27"><%= link_to "大阪府", events_search_path(prefecture: 27) %></div>
            <div data-id="28"><%= link_to "兵庫県", events_search_path(prefecture: 28) %></div>
            <div data-id="29"><%= link_to "奈良県", events_search_path(prefecture: 29) %></div>
            <div data-id="30"><%= link_to "和歌山県", events_search_path(prefecture: 30) %></div>
            <div></div>
        </div>

        <div class="pref_list" data-list="5">
            <div data-id="31"><%= link_to "鳥取県", events_search_path(prefecture: 31) %></div>
            <div data-id="32"><%= link_to "島根県", events_search_path(prefecture: 32) %></div>
            <div data-id="33"><%= link_to "岡山県", events_search_path(prefecture: 33) %></div>
            <div data-id="34"><%= link_to "広島県", events_search_path(prefecture: 34) %></div>
            <div data-id="35"><%= link_to "山口県", events_search_path(prefecture: 35) %></div>
            <div data-id="36"><%= link_to "徳島県", events_search_path(prefecture: 36) %></div>
            <div data-id="37"><%= link_to "香川県", events_search_path(prefecture: 37) %></div>
            <div data-id="38"><%= link_to "愛媛県", events_search_path(prefecture: 38) %></div>
            <div data-id="39"><%= link_to "高知県", events_search_path(prefecture: 39) %></div>
            <div></div>
        </div>

        <div class="pref_list" data-list="6">
            <div data-id="40"><%= link_to "福岡県", events_search_path(prefecture: 40) %></div>
            <div data-id="41"><%= link_to "佐賀県", events_search_path(prefecture: 41) %></div>
            <div data-id="42"><%= link_to "長崎県", events_search_path(prefecture: 42) %></div>
            <div data-id="43"><%= link_to "熊本県", events_search_path(prefecture: 43) %></div>
            <div data-id="44"><%= link_to "大分県", events_search_path(prefecture: 44) %></div>
            <div data-id="45"><%= link_to "宮崎県", events_search_path(prefecture: 45) %></div>
            <div data-id="46"><%= link_to "鹿児島県", events_search_path(prefecture: 46) %></div>
            <div data-id="47"><%= link_to "沖縄県", events_search_path(prefecture: 47) %></div>
        </div>
    </div>
</div>