<h1>編集画面</h1>
<%= form_for(@event, url:"/events/#{@event.id}") do |f| %>
	<h4>タイトル</h4>
	<%= f.text_field :title %>

	<h4>本文</h4>
	<%= f.text_area :content %>

	<h4>日付</h4>
	<%= f.date_field :date %>

	<h4>時間</h4>
	<%= f.time_field :time %>

	<h4>郵便番号</h4>
	<%= f.text_field :postal_code %>

	<h4>住所</h4>
	<%= f.text_field :address %>

    <%= f.submit '更新' %>
<% end %>