<h3>編集画面</h3>
<%= form_for(@event, url:"/events/#{@event.id}") do |f| %>
	<h4>タイトル</h4>
	<%= f.text_field :title %>

	<h4>本文</h4>
	<%= f.text_area :content %>

	<p>日時</p>
	<%= f.datetime_select :start_time %>

	<h4>住所</h4>
    <%= f.select :prefecture, Event.prefectures.keys, {prompt: '選択してください'}, class: "mr-3" %>	<%= f.text_field :address %>

	<h4>画像</h4>
  	<%= f.file_field :image, id: :event_image %>
<!-- 画像プレビューを表示 -->
  	<%= image_tag @event.image.url, width: 100, id: :image_prev %>
  	<p><%= f.check_box :remove_image %>画像を削除する</p>

    <%= f.submit '更新' %>
<% end %>

<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#image_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#event_image").change(function(){
   readURL(this);
 });
});
</script>