<h3>イベント一覧</h3>

<% @events.each do |event| %>

<table class="table table-bordered table-hover">
	<tr><th>タイトル</th><td><%= link_to event.title, event_path(event.id) %></td></tr>
	<tr><th>内容</th><td><%= event.content %></td></tr>
	<tr><th>日時</th><td><%= event.start_time %></td></tr>
	<tr><th>集合場所</th><td>〒<%= event.postal_code %>　<%= event.address %></td></tr>
	<tr><th>参加人数</th><td><%= event.joined_users.count %></td></tr>
	<tr><th>いいね数</th><td><%= event.liked_users.count %></td></tr>
	<tr><th>主催者</th><td><%= link_to event.user.username, user_path(event.user.id) %></td></tr>
</table>
<hr>

<% end %>