<h4>ボランティアを探す</h4>

<%= link_to "新着順", events_search_path, class: "btn btn-primary rounded-pill" %>

<hr>

 <button onclick="getPosition();">現在地から探す</button>

<hr>

<!-- 検索フォームの表示 -->
<%= form_with url:events_search_path, :method => 'get', local: true do |f| %>
  <%= f.select :selected, [['タイトル','Title'],['内容','Content']] %>
  <%= f.text_field :search %>
  <%= f.submit 'Search', name: nil %>
<% end %>
<!-- ここまで -->

<hr>

<!-- タグ検索 -->
<p>タグ検索</p>
<%= link_to "テスト", events_search_path(tag_name: "テスト"), class: "btn-sm btn-info" %>
<%= link_to "テスト", events_search_path(tag_name: "テスト"), class: "btn-sm btn-info" %>
<%= link_to "テスト", events_search_path(tag_name: "テスト"), class: "btn-sm btn-info" %>
<%= link_to "テスト", events_search_path(tag_name: "テスト"), class: "btn-sm btn-info" %>
<!-- ここまで -->

<hr>

<!-- イベント全てをカレンダーに表示 -->
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <div><%= events.count %>件</div>
  <% events.each do |event| %>
    <div>
      <%= link_to event.title, event %>
    </div>
  <% end %>
<% end %>
<!-- ここまで -->





<script>
    // 現在地取得処理
    function getPosition() {
      // 現在地を取得
      navigator.geolocation.getCurrentPosition(
        // 取得成功した場合
        function(position) {
            window.location.href = "/events/search_location?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude
            // $.ajax({
            //   url: "/events/search_location",
            //   type: "GET",
            //   dataType: 'html',
            //   data: {latitude : position.coords.latitude,
            //         longitude : position.coords.longitude},
            // });
        },
        // 取得失敗した場合
        function(error) {
          switch(error.code) {
            case 1: //PERMISSION_DENIED
              alert("位置情報の利用が許可されていません");
              break;
            case 2: //POSITION_UNAVAILABLE
              alert("現在位置が取得できませんでした");
              break;
            case 3: //TIMEOUT
              alert("タイムアウトになりました");
              break;
            default:
              alert("その他のエラー(エラーコード:"+error.code+")");
              break;
          }
        }
      );
    }
  </script>