<h4 class="text-center mb-4">ボランティアを探す</h4>

<div class="row">
	<div class="col-4"><!-- 全件表示ここから -->
		<div class="card shadow text-center">
		  <div class="card-header">
		    新着順に全件表示
		  </div>
		  <div class="card-body">
		  	<%= link_to "ボランティアを見る", events_search_path, class: "btn btn-outline-primary shadow-sm rounded-pill" %>
		  </div>
		</div>
	</div><!-- 全件表示ここまで -->

	<div class="col-8"><!-- フリーワード検索ここから -->
		<div class="card shadow text-center">
			<div class="card-header">
			フリーワード検索
			</div>
			<div class="card-body">
				<!-- 検索フォームの表示 -->
				<%= form_with url:events_search_path, :method => 'get', local: true do |f| %>
					<%= f.select :selected, [['タイトル','Title'],['内容','Content']] %>
				 	<%= f.search_field :search, :size=>"40", class: "border shadow-sm" %>
				  	<%= f.submit '検索する', name: nil, class: "btn btn-dark btn-sm shadow-sm" %>
				<% end %>
				<!-- ここまで -->
			</div>
		</div>
	</div><!-- フリーワード検索ここまで -->
</div>

<hr>

<div class="row">
	<div class="col-4"><!-- 現在地検索ここから -->
		<div class="card shadow text-center">
			  <div class="card-header">
			    現在地から近い順に表示
			  </div>

			  <div class="card-body row">

			　		<button id="button" onclick="getPosition();" class="btn btn-outline-danger shadow-sm mx-auto">現在地から探す</button>

					<!-- ボタンを押すとスピナーを表示 -->
					<div id="overlay">
					    <div class="cv-spinner">
					        <span class="spinner"></span>
					    </div>
					</div>

			  </div>
		</div>
	</div><!-- 現在地検索ここまで -->

	<div class="col-8"><!-- タグ検索ここから -->
		<div class="card shadow text-center">
		  <div class="card-header">
		    タグで検索
		  </div>
		  <div class="card-body">
			<%= link_to "ゴミ拾い", events_search_path(tag_name: "ゴミ拾い"), class: "btn-sm btn-info" %>
			<%= link_to "テスト", events_search_path(tag_name: "テスト"), class: "btn-sm btn-info" %>
			<%= link_to "テスト", events_search_path(tag_name: "テスト"), class: "btn-sm btn-info" %>
			<%= link_to "テスト", events_search_path(tag_name: "テスト"), class: "btn-sm btn-info" %>
			<%= link_to "テスト", events_search_path(tag_name: "テスト"), class: "btn-sm btn-info" %>
			<%= link_to "テスト", events_search_path(tag_name: "テスト"), class: "btn-sm btn-info" %>
			<%= link_to "テスト", events_search_path(tag_name: "テスト"), class: "btn-sm btn-info" %>
		  </div>
		</div>
	</div><!-- タグ検索ここまで -->
</div>

<hr>

<div class="row">
	<div class="col-6"><!-- カレンダーここから -->
		<div class="card shadow text-center">
			<div class="card-header">
				カレンダー
			</div>
			<div class="card-body">
				<div id="calendar">
					<%= render 'calendar_index' %>
				</div>

			</div>
		</div>
	</div><!-- カレンダーここまで -->

	<div class="col-6"><!-- エリア検索ここから -->
		<div class="card shadow text-center">
			<div class="card-header">
				エリアで探す
			</div>
			<div class="card-body">

				<%= render 'japan_map' %>

			</div>
		</div>
	</div><!-- エリア検索ここまで -->
</div>

<hr>

<div class="card shadow text-center"><!-- pickupここから -->
	<div class="card-header">
		Pick Up
	</div>

	<div class="card-body">

		<!-- タブメニュー activeクラスに、クリック済のデザインを設定したcssを指定 -->
		<ul class="tab clearfix">
		  <li class="active">ランダム</li>
		  <li>タイムライン</li>
		  <li>いいね数ランキング</li>
		  <li>参加人数ランキング</li>
		  <li>参加数ランキング</li>
		  <li>主催数ランキング</li>
		</ul>

		<!-- コンテンツ全体を非表示にし、showクラスが付いたコンテンツのみ表示 -->
		<div class="area">
			<ul class="show"><!-- タブメニュー１つ目 -->
				<p class="text-center">ランダムに表示します。</p>

				<%= render 'tab_menu', event: @event_randoms %>

			</ul>
		  	<ul><!-- タブメニュー２つ目 -->

		  		<p class="text-center">フォローしているユーザーが主催したボランティアを新着順に表示します。</p>
				<% if user_signed_in? && @follow_events.present? %>

					<%= render 'tab_menu', event: @follow_events %>



				<% elsif user_signed_in? && @follow_events.count == 0 %>

					<p>まだフォローユーザーのイベントはありません。</p>

				<% else %>

					<p>ログインして誰かをフォローしてみよう!</p>

				<% end %>
		  	</ul>

		  	<ul><!-- タブメニュー３つ目 -->

				<%= render 'tab_menu_index', event: @event_like_ranking %>

		  	</ul>

		 	<ul><!-- タブメニュー４つ目 -->

		  		<%= render 'tab_menu_index', event: @event_join_ranking %>

		  	</ul>

		  	<ul><!-- タブメニュー５つ目 -->

				<%= render 'user_ranking', users: @user_join_ranking %>

		  	</ul>

		  	<ul><!-- タブメニュー６つ目 -->

				<%= render 'user_ranking', users: @user_event_ranking %>

		  	</ul>
		</div>
	</div>
</div><!-- pickupここまで -->

<hr>

<!-- タブメニューの記述 -->
<script>
$(function() {

  // ①タブをクリックしたら発動
  $('.tab li').click(function() {

    // ②クリックされたタブの順番を変数に格納
    var index = $('.tab li').index(this);

    // ③クリック済みタブのデザインを設定したcssのクラスを一旦削除
    $('.tab li').removeClass('active');

    // ④クリックされたタブにクリック済みデザインを適用する
    $(this).addClass('active');

    // ⑤コンテンツを一旦非表示にし、クリックされた順番のコンテンツのみを表示
    $('.area ul').removeClass('show').eq(index).addClass('show');

  });
});
</script>


<!-- エリア選択の記述 -->
<script>
$(function(){
    //地域を選択
    $('.area_btn').click(function(){
        $('.area_overlay').show();
        $('.pref_area').show();
        var area = $(this).data('area');
        $('[data-list]').hide();
        $('[data-list="' + area + '"]').show();
    });

    //レイヤーをタップ
    $('.area_overlay').click(function(){
        prefReset();
    });

    //都道府県をクリック
    $('.pref_list [data-id]').click(function(){
        if($(this).data('id')){
            var id = $(this).data('id');
            //このidを使用して行いたい操作をしてください
            //都道府県IDに応じて別ページに飛ばしたい場合はこんな風に書く↓
            //window.location.href = 'https://kinocolog.com/pref/' + id;

            prefReset();
        }
    });

    //表示リセット
    function prefReset(){
        $('[data-list]').hide();
        $('.pref_area').hide();
        $('.area_overlay').hide();
    }
});
</script>




<!-- 現在地検索の記述 -->
<script>
    // 現在地取得処理
    function getPosition() {
      // 現在地を取得
      navigator.geolocation.getCurrentPosition(
        // 取得成功した場合
        function(position) {
            window.location.href = "/events/search?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude
            // $.ajax({
            //   url: "/events/search_location",
            //   type: "GET",
            //   dataType: 'html',
            //   data: {latitude : position.coords.latitude,
            //         longitude : position.coords.longitude},
            // });
        },
        // 取得失敗した場合
        function(error) {
          switch(error.code) {
            case 1: //PERMISSION_DENIED
              alert("位置情報の利用が許可されていません");
              break;
            case 2: //POSITION_UNAVAILABLE
              alert("現在位置が取得できませんでした");
              break;
            case 3: //TIMEOUT
              alert("タイムアウトになりました");
              break;
            default:
              alert("その他のエラー(エラーコード:"+error.code+")");
              break;
          }
        }
      );
    }
</script>


<!-- 現在地検索のスピナー -->
<script>
jQuery(function($){
    $(document).ajaxSend(function() {
        $("#overlay").fadeIn(700);
    });

    $('#button').click(function(){
        $.ajax({
            type: 'GET',
            success: function(data){
                console.log(data);
            }
        }).done(function() {
            setTimeout(function(){
                $("#overlay").fadeOut(700);
            },700);
        });
    });
});
</script>