<h3>イベント一覧</h3>

<% @events.each do |event| %>

	<p>タイトル：<%= link_to event.title, event_path(event.id) %></p>

	<p>内容：<%= event.content %></p>

	<p>日時：<%= event.date %>　<%= event.time %></p>

	<p>集合場所：〒<%= event.postal_code %>　<%= event.address %></p>

	<p>参加人数：<%= event.joined_users.count %></p>

	<p>いいね数：<%= event.liked_users.count %></p>

<% end %>