<h3>新規イベント</h3>

<%= form_with url: events_confirm_path, method: :get, local: true do |f| %>

	<p>タイトル</p>
	<%= f.text_field :title %>

	<p>本文</p>
	<%= f.text_area :content %>

	<p>日付</p>
	<%= f.date_field :date %>

	<p>時間</p>
	<%= f.time_field :time %>

	<p>郵便番号</p>
	<%= f.text_field :postal_code %>

	<p>住所</p>
	<%= f.text_field :address %>

	<%= f.submit '投稿' %>
<% end %>
