<h3>新規イベント</h3>
<%= form_for @event, url: events_path, method: :post, local: true do |f| %>

	<p>タイトル</p>
	<%= f.text_field :title %>

	<p>本文</p>
	<%= f.text_area :content %>

	<p>日時</p>
	<%= f.datetime_select :start_time %>

	<p>郵便番号</p>
	<%= f.text_field :postal_code %>

	<p>住所</p>
	<%= f.text_field :address %>

  <p>カテゴリータグ</p>
  <%= f.text_field :tag_list, value: @event.tag_list.join(','), data: {role: "tagsinput"} %>

	<p>画像</p>
  	<%= f.file_field :image, id: :event_image %>
<!-- 画像プレビューを表示 -->
  	<%= image_tag @event.image.url, width: 100, id: :image_prev %>

	<%= f.submit '投稿' %>
<% end %>


<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#image_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#event_image").change(function(){
   readURL(this);
 });
});
</script>
