<div class="card shadow text-center"><!-- pickupここから -->
	<div class="card-header">
		Pick Up
	</div>

	<div class="card-body">

		<!-- タブメニュー activeクラスに、クリック済のデザインを設定したcssを指定 -->
		<ul class="tab clearfix">
		  <li class="active">ランダム</li>
		  <li>タイムライン</li>
		  <li>いいね数ランキング</li>
		  <li>参加人数ランキング</li>
		  <li>参加数ランキング</li>
		  <li>主催数ランキング</li>
		</ul>

		<!-- コンテンツ全体を非表示にし、showクラスが付いたコンテンツのみ表示 -->
		<div class="area">
			<ul class="show"><!-- タブメニュー１つ目 -->
				<p class="text-center">ランダムに表示します。</p>

				<%= render 'tab_menu', event: @event_randoms %>

			</ul>
		  	<ul><!-- タブメニュー２つ目 -->

		  		<p class="text-center">フォローしているユーザーが主催したボランティアを新着順に表示します。</p>
				<% if user_signed_in? && @follow_events.present? %>

					<%= render 'tab_menu', event: @follow_events %>



				<% elsif user_signed_in? && @follow_events.count == 0 %>

					<p>まだフォローユーザーのイベントはありません。</p>

				<% else %>

					<p>ログインして誰かをフォローしてみよう!</p>

				<% end %>
		  	</ul>

		  	<ul><!-- タブメニュー３つ目 -->

				<%= render 'tab_menu_index', event: @event_like_ranking %>

		  	</ul>

		 	<ul><!-- タブメニュー４つ目 -->

		  		<%= render 'tab_menu_index', event: @event_join_ranking %>

		  	</ul>

		  	<ul><!-- タブメニュー５つ目 -->

				<%= render 'user_ranking', users: @user_join_ranking %>

		  	</ul>

		  	<ul><!-- タブメニュー６つ目 -->

				<%= render 'user_ranking', users: @user_event_ranking %>

		  	</ul>
		</div>
	</div>
</div><!-- pickupここまで -->


<!-- タブメニューの記述 -->
<script>
$(function() {

  // ①タブをクリックしたら発動
  $('.tab li').click(function() {

    // ②クリックされたタブの順番を変数に格納
    var index = $('.tab li').index(this);

    // ③クリック済みタブのデザインを設定したcssのクラスを一旦削除
    $('.tab li').removeClass('active');

    // ④クリックされたタブにクリック済みデザインを適用する
    $(this).addClass('active');

    // ⑤コンテンツを一旦非表示にし、クリックされた順番のコンテンツのみを表示
    $('.area ul').removeClass('show').eq(index).addClass('show');

  });
});
</script>