<h3>イベント詳細</h3>

	<p>タイトル</p>
	<p><%= @event.title %></p>

	<p>内容</p>
	<p><%= @event.content %></p>

	<p>日付</p>
	<p><%= @event.date %></p>

	<p>時間</p>
	<p><%= @event.time %></p>

	<p>郵便番号</p>
	<p><%= @event.postal_code %></p>

	<p>住所</p>
	<p><%= @event.address %></p>

<!-- 参加機能 -->
	<h5>参加人数: <%= @event.join_users.count %></h5>
	<% if current_user.already_joined?(@event) %>
	  <%= button_to '参加を取り消す', event_join_user_path(@event), method: :delete %>
	<% else %>
	  <%= button_to '参加する', event_join_users_path(@event) %>
	<% end %>
	<h5>参加ユーザー</h5>
	<% @event.joined_users.each do |user| %>
	  <li><%= user.username %></li>
	<% end %>
<!-- ここまで -->

<!-- いいね機能 -->
	<h5>いいね件数: <%= @event.likes.count %></h5>
	<% if current_user.already_liked?(@event) %>
	  <%= button_to 'いいねを取り消す', event_like_path(@event), method: :delete %>
	<% else %>
	  <%= button_to 'いいね', event_likes_path(@event) %>
	<% end %>
	<h5>いいねしたユーザー</h5>
	<% @event.liked_users.each do |user| %>
	  <li><%= user.username %></li>
	<% end %>
<!-- ここまで -->

<!-- コメント機能 -->
	<h5>コメント一覧</h5>
	<% @comments.each do |comment| %>
	  <div>
	    <a href="/users/<%= @event.user.id %>"><%= comment.user.username %></a>
	    <%= comment.content %>
	    <% if comment.user == current_user %>
			<%=link_to "削除", event_comments_path(comment.id), method: :delete %>
		<% end %>
	    <hr>
	  </div>
	<% end %>

	<%= form_for [@event, @comment] do |f| %>
	  <%= f.text_field :content %>
	  <br>
	  <%= f.submit 'コメントする' %>
	<% end %>
<!-- ここまで -->

<%= link_to "編集", edit_event_path(@event.id) %>
<%= link_to "イベント一覧へ", events_path %>
