<h3>イベント詳細</h3>

	<p>タイトル</p>
	<p><%= @event.title %></p>

	<p>内容</p>
	<p><%= @event.content %></p>

	<p>日付</p>
	<p><%= @event.date %></p>

	<p>時間</p>
	<p><%= @event.time %></p>

	<p>郵便番号</p>
	<p><%= @event.postal_code %></p>

	<p>住所</p>
	<p><%= @event.address %></p>

<%= link_to "編集", edit_event_path(@event.id) %>
<%= link_to "イベント一覧へ", events_path %>