<h4><%= @event.title %></h4>

<div class="row">
	<div class="col-4">
		<%= image_tag @event.image_url, width: 350, class: "rounded" %>
	</div>
	<div class="col-8">
		<table class="table table-bordered">
			<tr><th>内容</th><td><%= @event.content %></td></tr>
			<tr><th>日時</th><td><%= @event.start_time.strftime("%Y-%m-%d %H:%M") %></td></tr>
			<tr><th>郵便番号</th><td><%= @event.postal_code %></td></tr>
			<tr><th>住所</th><td><%= @event.address %></td></tr>
			<tr><th>主催者</th><td><%= link_to @event.user.username, user_path(@event.user.id) %></td></tr>
			<tr><th>タグ</th><td><%= render 'events/tag_list', tag_list: @event.tag_list %></td></tr>
		</table>
	</div>
</div>

<!-- 主催者の場合のみ編集・削除ボタンを表示 -->
<% if @event.user == current_user %>
	<div class="text-right">
		<%= link_to "編集", edit_event_path(@event.id), class: "btn btn-outline-secondary" %>
		<%= link_to "削除", event_path(@event.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
	</div>
<% end %>
<!-- ボタンここまで -->

<hr>

<div class="row">
	<div class="col-6"><!-- 参加機能 -->
		<div class="card">
		  <div class="card-header bg-white text-center">
		    	<!-- 主催者の場合は参加ボタンを表示しない -->
		    	<!-- ログインしていなければボタンを表示しない -->
				<% if current_user == @event.user %>

					<p>主催者は参加できません</p>

				<% elsif %>

					<% unless user_signed_in? %>

						<p class="text-info">ログインすると参加できるようになるよ</p>

					<% end %>

					<% if user_signed_in? && current_user.already_joined?(@event) %>

					  <%= button_to '参加を取り消す', event_join_user_path(@event), method: :delete, class: "btn btn-secondary border-secondary disabled" %>

					<% else %>

					  <%= button_to '参加する', event_join_users_path(@event), class: "btn btn-outline-warning" %>

					<% end %>

				<% end %>
				<!-- 参加ボタンここまで -->
		  </div>
		  <div class="card-body text-center">
		  	参加人数: <%= @event.join_users.count %><br>
		  	<% @event.joined_users.each do |user| %>
			  <%= link_to user.username, user %>さん
			<% end %>
		  </div>
		</div>
	</div><!-- 参加機能ここまで -->

	<div class="col-6"><!-- いいね機能 -->
		<div class="card text-center">
				<!-- 主催者の場合はいいねボタンを表示しない -->
				<!-- ログインしていなければボタンを表示しない -->
				<% if current_user == @event.user %>

					<p>主催者はいいねできません</p>

				<% elsif %>

					<% unless user_signed_in? %>

						<p class="text-info">ログインするといいねできるようになるよ</p>

					<% end %>

						<div id="like-<%= @event.id %>" class="mt-3 mb-2">
						  <%= render partial: "likes/like", locals: { event: @event } %>
						</div>

				<% end %>
			<!-- いいねボタンここまで -->
		</div>
	</div><!-- いいね機能ここまで -->
</div>

<hr>

<!-- コメント機能 -->
<div class="text-center">
	<h5>コメント</h5>
	<p><%= @comments.count %>件のコメント</p>
	<% @comments.each do |comment| %>
		<div class="row">
		    <table class="table">
		    	<tr>
		    		<td><a href="/users/<%= @event.user.id %>"><%= comment.user.username %></a></td>
		    		<td><%= comment.content %></td>
		    		<td><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>

			    	<% if comment.user == current_user %>
			    		<td><%=link_to "削除", event_comments_path(comment.id), method: :delete, class: "btn-sm btn-danger" %></td>
			    	<% else %>
			    		<td></td>
			    	<% end %>

		    	</tr>
		    </table>
		</div>
	<% end %>

	<!-- ログインしていなければフォームを表示しない -->
	<% if user_signed_in? %>

		<%= form_for [@event, @comment] do |f| %>
		  <%= f.text_area :content, class: "col-8" %>
		  <br>
		  <%= f.submit 'コメントする', class: "text-right" %>
		<% end %>

	<% else %>

		<p class="text-info">ログインするとコメントできるようになるよ</p>

	<% end %>
</div>

<!-- コメント機能ここまで -->

<hr>


<!-- 地図を表示 -->
<h5 class="text-center">集合場所</h5>
<div id='map'></div>

<!-- 地図ここまで -->


<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>


<!-- 地図の設定 -->
<style>
#map{
  height: 400px;
  width: 700px;
  margin: 0 auto;
}
</style>

<script type="text/javascript">
  function initMap() {
    var geocoder = new google.maps.Geocoder();
	var address = '<%= @event.address %>';
	var location ='';
    console.log(address);

	geocoder.geocode({'address': address}, function(results, status) {
    	if (status === google.maps.GeocoderStatus.OK) {
        	location = results[0].geometry.location;
           	console.log(location);

    		var map = new google.maps.Map(document.getElementById('map'), {
      			zoom: 15,
      			center: location
    		});


    		var contentString = '住所：<%= @event.address %>';
    		var infowindow = new google.maps.InfoWindow({
      			content: contentString
    		});

    		var marker = new google.maps.Marker({
      			position:location,
      			map: map,
      			title: contentString
    		});
    		marker.addListener('click', function() {
      			infowindow.open(map, marker);
    		});

        } else {
                alert('Geocode was not successful for the following reason: ' + status);
        }
    });

  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['API_KEY'] %>&callback=initMap">
</script>
<!-- 地図の設定ここまで -->



