<h3>イベント詳細</h3>

<!-- 主催者の場合のみ編集ボタンを表示 -->
<% if @event.user_id == current_user.id %>
	<%= link_to "編集", edit_event_path(@event.id) %>
<% end %>

<table class="table table-bordered table-hover">
	<tr><th>タイトル</th><td><%= @event.title %></td></tr>
	<tr><th>内容</th><td><%= @event.content %></td></tr>
	<tr><th>日付</th><td><%= @event.date %></td></tr>
	<tr><th>時間</th><td><%= @event.time %></td></tr>
	<tr><th>郵便番号</th><td><%= @event.postal_code %></td></tr>
	<tr><th>住所</th><td><%= @event.address %></td></tr>
	<tr><th>主催者</th><td><%= @event.user.username %></td></tr>
</table>

<!-- 参加機能 -->
	<h5>参加人数: <%= @event.join_users.count %></h5>
	<% if current_user.already_joined?(@event) %>
	  <%= button_to '参加を取り消す', event_join_user_path(@event), method: :delete %>
	<% else %>
	  <%= button_to '参加する', event_join_users_path(@event) %>
	<% end %>
<hr>
	<h5>参加ユーザー</h5>
	<% @event.joined_users.each do |user| %>
	  <li><%= user.username %></li>
	<% end %>
<hr>
<!-- ここまで -->

<!-- いいね機能 -->
	<h5>いいね件数: <%= @event.likes.count %></h5>
	<% if current_user.already_liked?(@event) %>
	  <%= button_to 'いいねを取り消す', event_like_path(@event), method: :delete %>
	<% else %>
	  <%= button_to 'いいね', event_likes_path(@event) %>
	<% end %>
<hr>
	<h5>いいねしたユーザー</h5>
	<% @event.liked_users.each do |user| %>
	  <li><%= user.username %></li>
	<% end %>
<hr>
<!-- ここまで -->

<!-- コメント機能 -->
	<h5>コメント一覧</h5>
	<% @comments.each do |comment| %>
	  <div>
	    <a href="/users/<%= @event.user.id %>"><%= comment.user.username %></a>
	    <%= comment.content %>
	    <% if comment.user == current_user %>
			<%=link_to "削除", event_comments_path(comment.id), method: :delete %>
		<% end %>
	    <hr>
	  </div>
	<% end %>

	<%= form_for [@event, @comment] do |f| %>
	  <%= f.text_area :content %>
	  <br>
	  <%= f.submit 'コメントする' %>
	<% end %>
<!-- ここまで -->





