<h4><%= @event.title %></h4>

<% if @event.start_time < DateTime.now %>
	<p class="text-danger">※このボランティアは既に終了しています</p>
<% end %>

<div class="row">
	<div class="col-4">
		<%= image_tag @event.image_url, width: 350, class: "img-thumbnail rounded shadow" %>
	</div>
	<div class="col-8">
		<table class="table table-bordered">
			<tr><th>内容</th><td><%= @event.content %></td></tr>
			<tr><th>日時</th><td><%= @event.start_time.strftime("%Y-%m-%d %H:%M") %></td></tr>
			<tr><th>集合場所</th><td><%= @event.prefecture %><%= @event.address %></td></tr>
			<tr><th>主催者</th><td><%= link_to @event.user.username, user_path(@event.user.id) %></td></tr>
			<tr><th>タグ</th><td><%= render 'events/tag_list', tag_list: @event.tag_list %></td></tr>
		</table>
	</div>
</div>

<!-- 主催者の場合のみ編集・削除ボタンを表示 -->
<% if @event.user == current_user %>
	<div class="text-right">
		<%= link_to "編集", edit_event_path(@event.id), class: "btn btn-outline-secondary" %>
		<%= link_to "削除", event_path(@event.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
	</div>
<% end %>
<!-- ボタンここまで -->

<hr>

<div class="row justify-content-center">
	<div class="col-4"><!-- 参加機能 -->
		<div class="card shadow rounded-pill text-center">
		    	<!-- 主催者の場合は参加ボタンを表示しない -->
		    	<!-- ログインしていなければボタンを表示しない -->
				<% if current_user == @event.user %>

						<p class="mt-3">主催者は参加できません</p>

						<div class="mb-3">
							参加人数: <%= @event.join_users.count %><br>
							<% @event.joined_users.each do |user| %>
						  		<%= link_to user.username, user %>さん<br>
							<% end %>
						</div>

				<% elsif %>

						<% unless user_signed_in? %>

							<p class="text-info mt-3">ログインすると参加できるようになるよ</p>

							<div class="mb-3">
								参加人数: <%= @event.join_users.count %><br>
								<% @event.joined_users.each do |user| %>
							  		<%= link_to user.username, user %>さん<br>
								<% end %>
							</div>

						<% else %>

							<div id="join-<%= @event.id %>" class="mt-3 mb-2">
							  	<%= render partial: "join_users/join", locals: { event: @event } %>
							</div>

						<% end %>

				<% end %>
				<!-- 参加ボタンここまで -->
		</div>
	</div><!-- 参加機能ここまで -->

	<div class="col-4"><!-- いいね機能 -->
		<div class="card shadow rounded-pill text-center">
				<!-- 主催者の場合はいいねボタンを表示しない -->
				<!-- ログインしていなければボタンを表示しない -->
				<% if current_user == @event.user %>

						<p class="mt-3">主催者はいいねできません</p>

						<div class="mb-3">
							いいね数: <%= @event.likes.count %><br>
							<% @event.liked_users.each do |user| %>
							  <%= link_to user.username, user %>さん<br>
							<% end %>
						</div>

				<% elsif %>

						<% unless user_signed_in? %>

							<p class="text-info mt-3">ログインするといいねできるようになるよ</p>

							<div class="mb-3">
								いいね数: <%= @event.likes.count %><br>
								<% @event.liked_users.each do |user| %>
								  <%= link_to user.username, user %>さん<br>
								<% end %>
							</div>


						<% else %>

							<div id="like-<%= @event.id %>" class="mt-3 mb-2">
							  <%= render partial: "likes/like", locals: { event: @event } %>
							</div>

						<% end %>

				<% end %>
			<!-- いいねボタンここまで -->
		</div>
	</div><!-- いいね機能ここまで -->
</div>

<hr>

<!-- コメント機能 -->
<div class="text-center">
	<h5>コメント</h5>

	<div id="comments_area">
		<%= render partial: "comments/index", locals: { comments: @comments } %>
	</div>

	<!-- ログインしていなければフォームを表示しない -->
	<% if user_signed_in? %>

		<%= render partial: "comments/form", locals: { event: @event, comment: @comment } %>

	<% else %>

		<p class="text-info">ログインするとコメントできるようになるよ</p>

	<% end %>
</div>

<!-- コメント機能ここまで -->

<hr>


<!-- 地図を表示 -->
<h5 class="text-center">集合場所</h5>
<div id='map'></div>

<!-- 地図ここまで -->


<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>


<!-- 地図の設定 -->
<style>
#map{
  height: 400px;
  width: 700px;
  margin: 0 auto;
}
</style>

<script type="text/javascript">
  function initMap() {
    var geocoder = new google.maps.Geocoder();
	var address = '<%= @event.prefecture %><%= @event.address %>';
	var location ='';
    console.log(address);

	geocoder.geocode({'address': address}, function(results, status) {
    	if (status === google.maps.GeocoderStatus.OK) {
        	location = results[0].geometry.location;
           	console.log(location);

    		var map = new google.maps.Map(document.getElementById('map'), {
      			zoom: 15,
      			center: location
    		});


    		var contentString = '住所：<%= @event.prefecture %><%= @event.address %>';
    		var infowindow = new google.maps.InfoWindow({
      			content: contentString
    		});

    		var marker = new google.maps.Marker({
      			position:location,
      			map: map,
      			title: contentString
    		});
    		marker.addListener('click', function() {
      			infowindow.open(map, marker);
    		});

        } else {
                alert('Geocode was not successful for the following reason: ' + status);
        }
    });

  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['API_KEY'] %>&callback=initMap">
</script>
<!-- 地図の設定ここまで -->



