 <h3>ユーザー一覧</h3>
   <% @users.each do |user| %>
      <%= user.id %>
	  <%= link_to user.username, admin_user_path(user.id) %>
      <%= user.lastname %>
      <%= user.firstname %>
      <%= user.kana_lastname %>
      <%= user.kana_firstname %>
      <%= user.email %>
   <% end %>