 <h5>ユーザー詳細</h5>
      <%= @user.id %>
      <%= @user.username %>
      <%= @user.lastname %>
      <%= @user.firstname %>
      <%= @user.kana_lastname %>
      <%= @user.kana_firstname %>
      <%= @user.email %>

	  <%= link_to '編集', edit_admin_user_path(@user.id), class: "btn-sm btn-success" %>
