<!DOCTYPE html>
<html>
  <head>
    <title>VolunTuner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <!-- ヘッダーの記述 -->
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <%= link_to "Volun-Tuner", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navmenu1"
            aria-controls="navmenu1"
            aria-expanded="false"
            aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu1">
          <div class="navbar-nav">
            <% if user_signed_in? %>

                <%= link_to "ボランティアを探す", events_path, class: "nav-item nav-link" %>
                <%= link_to "マイページ", user_path(current_user.id), class: "nav-item nav-link" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>

            <% elsif admin_signed_in? %>

                <%= link_to "ユーザー一覧", admin_users_path, class: "nav-item nav-link" %>
                <%= link_to "ボランティア一覧", admin_events_path, class: "nav-item nav-link" %>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-item nav-link" %>

            <% else %>

                <%= link_to "ボランティアを探す", events_path, class: "nav-item nav-link" %>
                <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link" %>
                <%= link_to "新規登録", new_user_registration_path, class: "nav-item nav-link" %>
                <%= link_to "管理画面へ", new_admin_session_path, class: "nav-item nav-link" %>

            <% end %>
          </div>
        </div>
      </nav>
      <!-- ここまで -->

      <!-- フラッシュメッセージを表示 -->
      <div class="flash-wrapper"><!-- cssで位置を調整 -->
        <% if flash[:notice] %>
          <div class="notifications">
            <div class="notice"><%= flash[:notice] %></div>
            </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="notifications">
            <div class="alert-notice"><%= flash[:alert] %></div>
            </div>
        <% end %>
      </div>


      <div class="container mb-5">
        <%= yield %>
      </div>

      <!-- フッター -->
      <footer class="text-center">
        <p>© Volun-Tuner</p>
      </footer>
      <!-- フッターここまで -->
    </div>
  </body>
</html>
