<!DOCTYPE html>
<html>
  <head>
    <title>VolunTuner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <!-- ヘッダーの記述 -->
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Volun-Tuner</a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navmenu1"
            aria-controls="navmenu1"
            aria-expanded="false"
            aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu1">
          <div class="navbar-nav">
            <%= link_to "ユーザー一覧", admin_users_path, class: "nav-item nav-link" %>
            <%= link_to "ユーザー一覧", admin_users_path, class: "nav-item nav-link" %>
            <%= link_to "ユーザー一覧", admin_users_path, class: "nav-item nav-link" %>
          </div>
        </div>
      </nav>
      <!-- ここまで -->

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
